[user]
  name = Tom Rawcliffe
  email = git@tomrawcliffe.co.uk
[color]
  diff = auto
  status = auto
  branch = auto
[color "status"]
  added = green
  changed = blue
  untracked = red 
[color "diff"]
  meta = yellow
  old = red 
  new = green
[alias]
  st = status
  ci = commit
  co = checkout
  tm = merge --no-ff --no-commit
  pp = !git pull && git push
  rm-untracked = !rm $(git ls-files --other --exclude-standard)
[core]
  editor = /usr/bin/vim
  mergeoptions = 
[push]
  default = current
