[user]
  name = Tom Rawcliffe
  email = thomas.rawcliffe@bskyb.com
[color]
  diff = auto
  status = auto
  branch = auto
[color "status"]
  added = green
  changed = blue
  untracked = red
[color "diff"]
  meta = yellow
  old = red
  new = green
[alias]
  st = status
  ci = commit
  co = checkout
  tm = merge --no-ff --no-commit
  pp = !git pull && git push
  rm-untracked = !rm $(git ls-files --other --exclude-standard)
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  bmerge = merge --no-ff --no-commit
  newbranch = "!git checkout -b $1; git push; git branch --set-upstream-to=$1 origin/$1 #"
  ru = "!git fetch; git clean -d -f; git reset --hard @{u}"
  switch = "!git fetch; git branch -d $1; git checkout $1"
  rt = "!git fetch; git clean -d -f; git reset --hard origin/$1"
  review = log -p --reverse @{u}..HEAD
[core]
  editor = /usr/bin/vim
  mergeoptions =
[push]
  default = current
[grep]
  linenumber = true
  color = auto
